@import "tailwindcss";


@theme {
  --font-poppins: var(--font-poppins);
  --font-monteserrat: var(--font-monteserrat)

  --color-background-main: #FFFFFF;
  --color-purple: #9966FF;
  --color-dark-purple: #5c55e4;
  --color-cobalt-blue: #0073E6;
  --color-mint-green: #00C4C4;

  --text-2xs: 10px;
  --text-3xs: 8px;

  --breakpoint-*: initial;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif;
}

.canvas {
    z-index: 1;
    position: absolute;
    width: 2560px;
    height: 700px;
    transform-origin:center ;
    transform: rotate(-13deg) scale(2)  translateX(-25%) translateY(-60%);
    --gradient-color-1: #a960ee; 
    --gradient-color-2: #ff333d; 
    --gradient-color-3: #90e0ff;  
    --gradient-color-4: #ffcb57;
    --gradient-speed: 0.000006;
    transition: ease-in 1ms ;
    pointer-events: none; 
    
}

@utility obj-centered{
  @apply flex justify-center items-center
}

@utility btn-mainheader {
  @apply flex items-center px-5 py-3
}

@utility span-mainheader {
  @apply text-base text-white mr-1 font-semibold
}

@utility nav-mainheader {
  @apply flex text-white text-base font-medium 
}

@utility grid-hero{
  @apply absolute inset-0 grid grid-cols-2
}

@utility border-hero{
  @apply border-l border-dashed border-gray-200
}

@utility font-top-dashboard{
  @apply tracking-tight font-normal text-2xs
}

@utility bottom-dashboard-div{
  @apply border-transparent shadow-2xl aspect-square rounded-sm bg-white p-3
}

@utility common-dashboard-font{
  @apply text-2xs font-semibold
}

@utility title-bottom-dashboard {
  @apply  common-dashboard-font tracking-tighter 
}

@utility percent-bottom-dashboard{
  @apply text-green-500 ml-1 text-[8px]
}

@utility title-2-bottom-dash {
  @apply title-bottom-dashboard text-gray-400
}

@utility invoice-items-dashboard{
  @apply flex items-center justify-between py-3 border-b-2 border-gray-200 
}

@utility invoice-dot-dashboard{
  @apply w-[6px] h-[6px] border-0 rounded-xs mr-1
}

@utility invoice-amount-dashboard{
  @apply font-normal text-[8px] text-black
}